.ErrorState {
    height: 100%;
    text-align: center;

    &-cardBody {
        height: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.ErrorState-headingText {
    color: darkgrey;
}

.ephn-billboard span[class*='billboard-name'] {
    overflow: hidden;
    max-width: 14ch;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ephn-wrapper {
    position: relative;
    width: 320px;
    max-width: 100%;
    height: 200px;
    max-height: 100%;
}

.ephn-clickable {
    cursor: pointer;
    width: 320px;
    max-width: 100%;
    height: 200px;
    max-height: 100%;
}

.ephn-tooltip-bar {
    position: absolute;
    bottom: 5%;
    width: 100%;
    height: 32%;
    z-index: 1;
}

.ephn-health-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5%;
}

.ephn-health-bar.warning {
    background-color: #FFD23D;
}

.ephn-health-bar.error {
    background-color: #B00F0A;
}

.ephn-billboard.healthy div {
    background-color: #01B076 !important; // Using a green that works better in Dark mode.  This is a compromise color that works well in both but doesn't match either modes.
}

.ephn-billboard.healthy span {
    color: #fff !important;
}

.ephn-billboard.error-number span[class*='billboard-metric'] {
    color: #B00F0A;
}

.ephn-billboard.error-percent span[class*='billboard-relative'] {
    color: #B00F0A;
}

.ephn-billboard.warning-number span[class*='billboard-metric'] {
    color: #FFD23D;
}

.ephn-billboard.warning-percent span[class*='billboard-relative'] {
    color: #FFD23D;
}